{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}
<h1>{{ args.title }}</h1>
<div class="description">
  {{ args.description}}
</div>

<form name="input" action="/coauthors" method="get" data-ajax="false" onSubmit="validateForm(this)">
Start year: <input type="number" name="start_year" min="{{ args.min_year }}" max="{{ args.max_year }}" value="{{ args.start_year }}">
End year: <input type="number" name="end_year" min="{{ args.min_year }}" max="{{ args.max_year }}" value="{{ args.end_year }}">
Publication type:

<select name="pub_type">
  <option value="4">All Publications</option>
  <option value="0"{% if args.pub_type == 0 %} selected="selected"{% endif %}>Conference Paper</option>
  <option value="1"{% if args.pub_type == 1 %} selected="selected"{% endif %}>Journal</option>
  <option value="2"{% if args.pub_type == 2 %} selected="selected"{% endif %}>Book</option>
  <option value="3"{% if args.pub_type == 3 %} selected="selected"{% endif %}>Book Chapter</option>
</select>

<input type="submit" value="Submit">
</form>

<h1>{{ args.pub_str }} in {{ args.start_year }} {% if args.start_year != args.end_year %} - {{ args.end_year }}{% endif %}</h1>

<table>
  <thead>
    <tr>
    {% for column in args.data[0] %}
      <th>{{ column }}</th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for row in args.data[1] %}
    <tr>
    {% for data_item in row %}
      <td>{{ data_item }}</td>
    {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    <tr>
    {% for column in args.data[0] %}
      <th>{{ column }}</th>
    {% endfor %}
    </tr>
  </tfoot>
</table>

<script>
function validateForm(form){
  start_year = form["start_year"].value;
  end_year = form["end_year"].value;
  if (end_year < start_year){
    alert("Invalid date range");
    return false;
  }
  return true;
}
</script>
{% endblock %}
